@import './variable.scss';
.header nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 300px);
    margin-left: 300px;
    z-index: 999;
    background-color: $primary-color;
    box-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 1);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    .icon-bars {
        font-size: 24px;
        color: #fff;
    }
}
.wrapper-sidebar {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    background-color: $second-color;
    height: 100%;
    z-index: 1011;
    color: #fff;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-y: auto;
}
.wrapper-content {
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 300px;
    margin-top: 100px;
}
.wrapper.sidebar-toggle {
    .wrapper-sidebar {
        left: -300px;
    }
    .wrapper-content {
        margin-left: 0px;
    }
    .header nav.navbar {
        width: 100%;
        margin-left: 0px;
    }
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    button {
        background-color: rgba($color: $primary-color, $alpha: 1);
        color: #fff;
        font-size: 24px;
        padding: 8px 16px;
        border: 2px solid rgba($color: $primary-color, $alpha: 1);
        position: absolute;
        top: 0;
        right: 0;
        border-radius: unset;
        box-shadow: none !important;
        display: none;
    }
    img {
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 992px) {
    .wrapper-sidebar {
        left: -300px;
    }
    .wrapper-content {
        margin-left: 0px;
    }
    .header nav.navbar {
        width: 100%;
        margin-left: 0px;
    }
    .wrapper.sidebar-toggle {
        .wrapper-sidebar {
            left: 0px;
        }
    }
    .sidebar-header button {
        display: block;
    };
}




.sidebar-menu,.sidebar-menu ul {
    padding-left: 0;
}
.sidebar-menu li {
    list-style: none;
}

.sidebar-menu a {
    position: relative;
    display: block;
    padding: 10px;
    padding-left: 20px;
    color: #fff;
    font-weight: 500;
    transition: .5s ease;

}
.sidebar-menu > li > a {
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
}
.sidebar-menu a:hover,.sidebar-menu a.current {
    background-color: rgba($color: $primary-color, $alpha: 1);
}
.sidebar-menu a svg {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: center;
}
.sidebar-menu a span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}
