.error-message {
    font-size: 12px;
    color: #ff0000;
}
.form-login {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    margin-top: 10%;
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
}