
@import './layout.scss';
body {
    background-color: #eee;
}
a {
    text-decoration: none;
}
.tab-content {
    margin-top: 30px;
    background-color: #fff;
}
.ck-editor__editable {
    min-height: 300px;
}