.uploadFile {
    width: 100%;
    .item {
        display: flex;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: 10px;
        .thumbnail {
            margin-right: 20px;
            img {
                width: 84px;
                height: 84px;
                object-fit: cover;
            }
        }
        .body {
            width: 100%;
            h4 {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
            overflow: hidden;
        }
    }
}
.listFile {
    width: 100%;
    .item {
        border: 1px solid #ddd;
        margin-bottom: 30px;
        padding: 5px;
        position: relative;
        cursor: default;
        .thumbnail {
            width: 100%;
            background-color: #ddd;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .body {
            width: 100%;
        }
        .action {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
            background-color: rgba($color: #000000, $alpha: 0.6);
            opacity: 0;
            transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            button {
                margin: 5px;
                font-size: 12px;
                svg {
                    font-size: 16px;
                }
            }
        }
        &:hover .action {
            opacity: 1;
        }
    }
}